<footer class="footer">
  <small>
    The <a href="http://pitchitjobs.com/">#1 website for internships</a>
    by <a href="https://ie.linkedin.com/in/daryloregan">Daryl O'Regan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://twitter.com/_PitchIt_">News</a></li>
    </ul>
  </nav>
</footer>